body{
    background-color: rgb(236, 236, 236);
}
#content{
    margin-top: 100px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#content  h2{
    margin-bottom: 20px;
}

.row {
    margin-top: 10px;
}

#footer{
    margin-top: 50px;
    height: 70px;
    text-align: center;
    background-color: white;
    padding-top: 15px;
}

#footer a{
    text-decoration: none;
    margin-top: 10px;
}